<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/your-subscription-id/resourceGroups/psctech-rg/providers/Microsoft.Web/sites/psctech-bcdadbajcrgwa2h5</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://psctech-bcdadbajcrgwa2h5.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>psctech-bcdadbajcrgwa2h5.southafricanorth-01.azurewebsites.net</MSDeployServiceURL>
    <DeployIisAppPath>psctech-bcdadbajcrgwa2h5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <MSDeployUseChecksum>True</MSDeployUseChecksum>
    <MSDeployVerbosity>normal</MSDeployVerbosity>
    <EnableAddRemoveToAlternateFeed>True</EnableAddRemoveToAlternateFeed>
    <PublishUrl>https://psctech-bcdadbajcrgwa2h5.southafricanorth-01.azurewebsites.net</PublishUrl>
    <!-- Remove hardcoded credentials - let Visual Studio handle authentication -->
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <PublishProviderSettings>
      <Property Name="WebDeployUseMSBuild" Value="True" />
    </PublishProviderSettings>
    <_PublishProfileName>Azure</_PublishProfileName>
    <_PublishProfilePath>Properties\PublishProfiles\Azure.pubxml</_PublishProfilePath>
    <_TargetFramework>net8.0</_TargetFramework>
    <ProjectGuid>{A1B2C3D4-E5F6-7890-ABCD-EF1234567890}</ProjectGuid>
    <_ProjectName>psctech-backend</_ProjectName>
    <_MSDeployServiceURL>psctech-bcdadbajcrgwa2h5.southafricanorth-01.azurewebsites.net</_MSDeployServiceURL>
    <_DeployIisAppPath>psctech-bcdadbajcrgwa2h5</_DeployIisAppPath>
    <_RemoteSitePhysicalPath />
    <_SkipExtraFilesOnServer>True</_SkipExtraFilesOnServer>
    <_MSDeployPublishMethod>WMSVC</_MSDeployPublishMethod>
    <_EnableMSDeployAppOffline>True</_EnableMSDeployAppOffline>
    <_MSDeployUseChecksum>True</_MSDeployUseChecksum>
    <_MSDeployVerbosity>normal</_MSDeployVerbosity>
    <_EnableAddRemoveToAlternateFeed>True</_EnableAddRemoveToAlternateFeed>
    <_PublishUrl>https://psctech-bcdadbajcrgwa2h5.southafricanorth-01.azurewebsites.net</_PublishUrl>
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <_InstallAspNetCoreSiteExtension>False</_InstallAspNetCoreSiteExtension>
    <_PublishProfileName>Azure</_PublishProfileName>
    <_PublishProfilePath>Properties\PublishProfiles\Azure.pubxml</_PublishProfilePath>
    <_TargetFramework>net8.0</_TargetFramework>
    <_ProjectGuid>{A1B2C3D4-E5F6-7890-ABCD-EF1234567890}</_ProjectGuid>
    <_ProjectName>psctech-backend</_ProjectName>
    <!-- SSL Certificate Settings -->
    <MSDeployUseChecksum>False</MSDeployUseChecksum>
    <EnableMSDeployAppOffline>False</EnableMSDeployAppOffline>
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <!-- Trust Server Certificate -->
    <TrustServerCertificate>True</TrustServerCertificate>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
  </PropertyGroup>
</Project>
